.App {
  text-align: center;

}

body {
  background-color: rgb(8, 33, 74);
  color: whitesmoke;


}

nav {
  display: flex;
  justify-content: space-between;
  padding: 12px;
}

.main-container {
  margin: 27px;

}

.nav-btn-group {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}


.stud-collection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.stud-card {
  background-color: rgb(21, 53, 161);
  width: 200px;
  height: 250px;
  box-shadow: -2px 2px 2px rgb(40, 98, 191);
  border-radius: 12px;
}

.card-btn-group {
  padding: 12px;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.card-btn-group>button {
  padding: 5px;
  width: 55px;
  border-radius: 5px;
  border: none;

}

.card-btn-group>button:hover {
  background-color: black;
  color: white;
}

input {
  padding: 7px;
  width: 80%;
  margin: 5px;
  border-radius: 5px;
}

.form-group {
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 2px;
  background-color: rgb(162, 182, 245);
  height: fit-content;
}

/* clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%); */


.sudent-submit {
  width: 200px;
  height: 50px;
  border-radius: 5px;
  font-weight: bold;
}

.sudent-submit:hover {
  background-color: green;
  color: white;
}